<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Consola de salida -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Registrar las solicitudes HTTP -->
    <logger name="org.springframework.web" level="DEBUG"/>

    <!-- Configuración de root -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
